<!DOCTYPE html>
<html lang="en" ng-app="todoApp">
<head>
  <meta charset="UTF-8">
  <title>AngularJS Todo List</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body>

<div ng-controller="TodoController">
    <h1>AngularJS Todo List</h1>

  <table border="1">
    <thead>
      <tr>
        <th>name</th>
        <th>email</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="task in tasks">
        <td>
          <span ng-hide="task.editing">{{ task.name }}</span>
          <input type="text" ng-show="task.editing" ng-model="task.name">
        </td>
        <td>
          <span ng-hide="task.editing">{{ task.email }}</span>
          <input type="text" ng-show="task.editing" ng-model="task.email">
        </td>
        <td>
          <button ng-click="task.editing = !task.editing">{{ task.editing ? 'Read' : 'Update' }}</button>
          <button ng-click="tasks.splice($index, 1)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>

  <div>
    <label for="newName">New name:</label>
    <input type="text" id="newName" ng-model="newName">
    <label for="newEmail">New email:</label>
    <input type="text" id="newEmail" ng-model="newEmail">
    <button ng-click="newName && tasks.push({ name: newName, email: newEmail, editing: false })">Add user</button>
  </div>
</div>

<script>
  angular.module('todoApp', [])
    .controller('TodoController', ['$scope', function($scope) {
      $scope.tasks = [
        { name: 'Task 1', email: 'd@g', editing: false },
        { name: 'Task 2', email: 'd@g', editing: false },
        { name: 'Task 3', email: 'd@g', editing: false }
      ];
    }]);
</script>

</body>
</html>
